<app-loader [isLoading]="!teacher"></app-loader>
<div *ngIf="teacher">
  <div class="container">
    <div class="profile"><img src="./assets/img/user/profile.png" alt="default user">
      <h3>Информация за потребителя:</h3>
      <div class="flex">
        <p>Име: </p>
        <p>{{ teacher.name }}</p>
      </div>
      <div class="flex">
        <p>Позиция: </p>
        <p>{{ teacher.position }}</p>
      </div>
      <div class="flex">
        <p>Преподаващ в група: </p>
        <p>{{ teacher.group }}</p>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" routerLink="/about/teachers"> Back To Teachers List </button>

</div>