<body>
  <section class="address-line-and-fb-icon">
    <article class="address">
      <ul>
        <li>
          <i class="fas fa-map-marker"></i>
        </li>
        <li>
          <p>ул. "Евтим Драганов" 17, кв. Грамада, Благоевград - 2702</p>
        </li>
      </ul>
    </article>
    <article class="log-menu">
      <ul *ngIf="!isLogged">
        <li>
          <a routerLink="/user/login">Вход</a>
        </li>
        <li>|</li>
        <li>
          <a routerLink="/user/register">Регистрация</a>
        </li>
      </ul>
      <ul *ngIf="isLogged">
        <li>
          <a routerLink="/user/profile">Профил</a>
        </li>
        <li>|</li>
        <li>
          <a href="/" (click)="logoutHandler()">Изход</a>
        </li>
      </ul>
    </article>
  </section>

  <section class="logo-and-info-line">
    <a routerLink="/">
      <img src="../assets/img/Logo_DG_Sinchec.png" alt="Logo of kg Sinchec" class="logo" />
    </a>
    <nav>
      <ul>
        <li>
          <article>
            <div class="contacts-icons">
              <i class="fas fa-mobile-alt fa-3x"></i>
            </div>
            <div class="contacts">
              <h4>073/ 88-53-61</h4>
              <h4>0878 41 83 13</h4>
              <p>Телефон на директор</p>
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="contacts-icons">
              <i class="far fa-envelope fa-3x"></i>
            </div>
            <div class="contacts">
              <h4>odz1sinchec@mail.bg</h4>
              <p>Електронна поща</p>
            </div>
          </article>
        </li>
        <li>
          <article>
            <div class="contacts-icons">
              <i class="far fa-clock fa-3x"></i>
            </div>
            <div class="contacts">
              <h4>Понеделник - Петък 7:00-18:00</h4>
              <p>Събота и Неделя - затворено</p>
            </div>
          </article>
        </li>
      </ul>
    </nav>
  </section>

  <section class="navigation">
    <nav>
      <ul>
        <li>
          <a routerLink="/"> НАЧАЛО </a>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">
              ЗА НАС <i class="fas fa-sort-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/about/mission">Мислия</a>
              <a routerLink="/about/schools">Школи</a>
              <a routerLink="/about/awards">Награди</a>
              <a routerLink="/about/history">История</a>
              <a routerLink="/about/place">Детска градина "Синчец"</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">
              ГРУПИ<i class="fas fa-sort-down"></i>
            </button>
            <div class="dropdown-content groups-content">
              <a routerLink="/groups/margaritas">Яслена група "Маргаритки"</a>
              <a routerLink="/groups/list/fireflies">I група - "Светулки"</a>
              <a routerLink="/groups/puh">II група - "Мечо Пух"</a>
              <a routerLink="/groups/stars">III А група - "Звездички добрички"</a>
              <a routerLink="/groups/lions">III Б група - "Лъвчета"</a>
              <a routerLink="/groups/ladybugs">IV група - "Калинки"</a>
              <a routerLink="/groups/sun">Смесена група "Слънчо" - филиал Зелендол</a>
            </div>
          </div>
        </li>
        <li>
          <a routerLink="/list/projects">ПРОЕКТИ</a>
        </li>
        <li>
          <a routerLink="/gallery" routerLinkActive="active">ГАЛЕРИЯ</a>
        </li>
        <li>
          <a routerLink="/parents" routerLinkActive="active">
            ЗА ВАС РОДИТЕЛИ
          </a>
        </li>
        <li>
          <a routerLink="/contacts" routerLinkActive="active">КОНТАКТИ</a>
        </li>
        <li>
          <a routerLink="/news" routerLinkActive="active">НОВИНИ</a>
        </li>
      </ul>
    </nav>
  </section>
</body>