body {
    margin: 0 auto 0px auto;
    display: flex;
    width: 90%;
  }
  
  article {
    margin: 30px 0;
    width: 80%;
  }
  
  article ul li {
    list-style: none;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
  }
  
  p {
    margin: 5px auto;
    color: #6c757d;
  }

  .section-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 30px;
  }
  
  .welcome-text {
    align-items: center;
  }
  .welcome-text h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 30px auto;
  }
  
  .btn {
    font-size: 14px; 
    text-decoration: none;
    border-radius: 38px;
    border: none;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
  }

  .btn-documents {
    font-size: 16px; 
    background: #20c578; 
    color: white;
    padding: 20px 30px;
  }

  .btn-add {
    border: 1px solid #20c578; 
    color: #20c578;
  }

  .btn-add:hover {
    background: #20c578; 
    color: white;
    cursor: pointer;
  }
  
  .btn-edit {
    border: 1px solid orangered; 
    color: orangered;
  }

  .btn-edit:hover {
    background: orangered; 
    color: white;
  }

  .btn-delete {
    border: 1px solid red;
    color: red;
  }

  .btn-delete:hover {
    background: red;
    color: white;
  }

  .documents-adrticle{
    display: flex;
    justify-content: center;
  }

  .btn-documents:hover {
    background: #232323;
  }
  
  .img-fluid {
    max-width: 400px;
    margin: 50px auto 30px auto;
    box-shadow: 0px 0px 14px 14px #E1E0E6;
  }

  .section-img {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  
  .section-img p {
    width: 72%;
  }