<form [formGroup]="form" class="register" (ngSubmit)="submitHandler()">

    <fieldset>
      <h2>Регистрация</h2>
  
      <!-- username -->
      <p class="field field-icon">
        <label for="username"><span><i class="fas fa-user"></i></span></label>
        <input [class.input-error]="form.get('username').touched && !!form.get('username').errors" type="text"
          name="username" id="username" placeholder="Johny" formControlName="username">
      </p>
      <p *ngIf="form.get('username').touched && form.get('username').errors?.required" class="error">
        Потребителското име е задължително!
      </p>
      <p *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="error">
        Потребителското, трябва да е поне 5 символа!
      </p>
  
      <!-- email -->
      <p class="field field-icon">
        <label for="email"><span><i class="fas fa-envelope"></i></span></label>
        <input [class.input-error]="form.get('email').touched && !!form.get('email').errors" type="email" name="email"
          id="email" placeholder="some.mail@gmail.com" formControlName="email">
      </p>
      <p *ngIf="form.get('email').touched && form.get('email').errors?.required" class="error">
        Имейлът е задължителен!
      </p>
      <p *ngIf="form.get('email').touched && form.get('email').errors?.emailValidator" class="error">
        Невалиден имейл!
      </p>
 
      <!-- password -->
      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input [class.input-error]="form.get('password').touched && !!form.get('password').errors" type="password"
          name="password" id="password" placeholder="******" formControlName="password">
      </p>
      <p *ngIf="form.get('password').touched && form.get('password').errors?.required" class="error">
        Паролата е задължителна!
      </p>
      <p *ngIf="form.get('password').touched && form.get('password').errors?.minlength" class="error">
        Паролата, трябва да е поне 4 символа!
      </p>
  
      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
        <input [class.input-error]="form.get('rePassword').touched && !!form.get('rePassword').errors" type="password"
          name="rePassword" id="rePassword" placeholder="******" formControlName="rePassword">
      </p>
      <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.required" class="error">
        Повторете паролата!</p>
      <p *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.rePasswordValidator" class="error">
       Не съвпада с паролата!</p>
  
      <button [disabled]="isLoading || form.invalid">Създай акаунт</button>
      <app-loader [isLoading]="isLoading"></app-loader>
  
      <p class="text-center">
        Имате акаунт?
        <a routerLink="/user/login">Вход</a>
      </p>
  
    </fieldset>
  </form>