@using RentACar.Web.ViewModels
@model RentACar.Web.ViewModels.Car.Delete.CarDeleteViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Премахни кола</h2>

<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Brand" class="text-primary h5">Марка</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="brand"
                   placeholder="Марка..."
                   value="@Model.Brand"
                   disabled>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Model" class="text-primary h5">Модел</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="model"
                   placeholder="Модел..."
                   value="@Model.Model"
                   disabled>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="PricePerDay" class="text-primary h5">Цена за ден</label>
            </div>
            <input type="number"
                   step="0.01"
                   class="form-control text-primary text-center"
                   id="priceperday"
                   placeholder="Цена за ден..."
                   value="@Model.PricePerDay"
                   disabled>
        </div>
    </div>

    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="ManufacturedOn" class="text-primary h5">Дата на създаване</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Дата на създаване..."
                   value="@Model.ManufacturedOn"
                   disabled>
        </div>
    </div>

    <hr class="hr-2 bg-primary mt-4">

    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Премахни кола</button>
    </div>

</form>