
@model RentACar.Web.ViewModels.Car.Delete.CarDeleteViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="bg-dark text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Delete the car</h3>

<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>

    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Brand" class="text-dark h5">Brand</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="brand"
                   placeholder="Brand..."
                   value="@Model.Brand"
                   disabled>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Model" class="text-dark h5">Model</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="model"
                   placeholder="Model..."
                   value="@Model.Model"
                   disabled>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="PricePerDay" class="text-dark h5">Price per day</label>
            </div>
            <input type="number"
                   step="0.01"
                   class="form-control text-primary text-center"
                   id="priceperday"
                   placeholder="Price per day..."
                   value="@Model.PricePerDay"
                   disabled>
        </div>
    </div>

    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="ManufacturedOn" class="text-dark h5">Date of manufacture</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Дата на създаване..."
                   value="@Model.ManufacturedOn"
                   disabled>
        </div>
    </div>

    <hr class="hr-2 bg-dark mt-3">

    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-outline-danger font-weight-bold mr-1">Премахни кола</button>
        <a href="/" class="btn btn-outline-primary font-weight-bold">Назад</a>
    </div>
</form>