
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="mt-3 mb-3">
    <form method="post" class="form border-primary-4 rounded p-3 w-70 mx-auto mt-3">
        <h1 class="font-weight-bold text-center btn-primary">Контакти</h1>
        <div class="jumbotron bg-primary mt-2 mb-2 text-center">
            <h2 class="font-weight-bold text-white">Създател на сайта:</h2>
            <h3 class="text-white">Владимир Ангелов</h3>
            <hr class="bg-white hr-2" />
            <h2 class="font-weight-bold text-white">Факултетен номер:</h2>
            <h3 class="text-white">18250141005</h3>
            <hr class="bg-white hr-2" />
            <h2 class="font-weight-bold text-white">E-mail:</h2>
            <h3 class="text-white">ang.vladimir@abv.bg</h3>
            <hr class="bg-white hr-2" />
        </div>

        @*<div class="jumbotron bg-primary mt-3 mb-3">
                <h1 class="font-weight-bold text-white">Site creator:</h1>
                <hr class="bg-white hr-2" />
                <h3 class="text-white">Vladimir Angelov</h3>
                <h1 class="font-weight-bold text-white">SoftUni username:</h1>
                <hr class="bg-white hr-2" />
                <h3 class="text-white">Vladimir19</h3>
                <h1 class="font-weight-bold text-white">E-mail:</h1>
                <hr class="bg-white hr-2" />
                <h3 class="text-white">ang.vladimir@abv.bg</h3>
            </div>*@

    </form>
</main>