<form [formGroup]="form" class="register" (ngSubmit)="submitHandler()">

    <fieldset>
        <h2>Добави пост</h2>

        <!-- title -->
        <p class="field field-icon">
            <label for="title">Заглавие:<span class="red">*</span></label>
            <input formControlName="title" type="text" name="title" id="title" required minlength="5">
            <!-- 
                [class.input-error]="form.get('title').touched && 
                   !!form.get('title').errors"-->

        </p>
        <!-- <p class="error" *ngIf="title.touched && title.errors?.required">
            Заглавието е задължително!
        </p>
        <p class="error" *ngIf="title.touched && title.errors?.minlength">
            Заглавието, трябва да е поне 5 символа!
        </p> -->

        <label for="content">Съдържание: </label>
        <p>
            <textarea formControlName="content" type="text" name="content" id="content" rows="8" cols="50"
                class="height" required>
            </textarea>
            <!--  [class.input-error]="form.get('content').touched && 
                        !!form.get('content').errors" -->
            <!-- 
            <textarea name="content" id="content" rows="4" cols="50" placeholder="Съдържание"
                formControlName="content"></textarea> -->
        </p>
        <!-- <p class="error" *ngIf="content.touched && content.errors?.required">
            Съдържанието е задължително!
        </p> -->
    </fieldset>
    <button>Добави</button>


    <!-- [disabled]="isLoading || form.invalid" -->
    <!-- <app-loader [isLoading]="isLoading"></app-loader> -->

</form>