<body>
    <form [formGroup]="form" class="register" (ngSubmit)="submitHandler()">
        <fieldset>
            <h2>Редактиране</h2>
            <p class="field field-icon title-p">
                <label for="title">Заглавие: *</label>
                <input formControlName="title" type="text" name="title" id="title" class="create-edit-input"
                    minlength="5" value="{{ post.title }}" placeholder="{{post.title}}">
            </p>

            <label for="content">Съдържание: </label>
            <p>
                <textarea formControlName="content" type="text" name="content" id="content" rows="8" cols="50"
                    class="height" required placeholder="{{post.content}}">
                {{post.content}}
            </textarea>
            </p>
            <p class="error" *ngIf="form.get('content').touched && form.get('content').errors?.required">
                Съдържанието е задължително!
            </p>
        </fieldset>
        <button [disabled]="isLoading || form.invalid">Добави</button>
    </form>
</body>