<body>
    <form [formGroup]="form" class="register" (ngSubmit)="submitHandler()">
        <div class="form-group">
            <fieldset class="form-group">

                <h2>Добави</h2>
                <p class="field field-icon title-p">
                    <label for="title">Заглавие:*</label>
                    <input formControlName="title" type="text" name="title" id="title" class="create-edit-input"
                        required minlength="5">
                </p>
                <p class="error" *ngIf="form.get('title').touched && form.get('title').errors?.required">
                    Заглавието е задължително!
                </p>
                <p class="error" *ngIf="form.get('title').touched && form.get('title').errors?.minlength">
                    Заглавието, трябва да е поне 5 символа!
                </p>

                {{imageError}}
                <div class="custom-file fileInputProfileWrap">
                    <input type="file" (change)="getBase64($event)" class="fileInputProfile">

                </div>
            </fieldset>
        </div>
        <button>Добави</button>
    </form>
</body>