<body>
    <section class="section-text">
        <article class="welcome-text">
            <h1>Добре дошли в яслена група "Маргаритки"</h1>
        </article>

        <article class="content">
            <ul>
                <li *ngIf="isLogged">
                    <button routerLink="/margaritas/create" class="btn btn-add">
                        Добави
                    </button>
                </li>
                <li *ngFor="let post of posts">
                    <app-loader [isLoading]="isLoading"></app-loader>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <div *ngIf="isLogged">
                        <button [routerLink]="['/margaritas/edit', post._id]" class="btn btn-edit">Промени</button>
                        <button class="btn btn-delete" (click)="onDelete(post._id)">Изтрий</button>
                    </div>
                </li>
            </ul>
        </article>
    </section>
    <section class="section-img">
        <img src="../../../assets/img/groups/margaritas.png" alt="banner-img" class="img-fluid" />
        <p>
            <i>Положителните емоции са важни за децата и тяхното развитие, затова ние ги осигуряваме ежедневно под
                формата на игри, песни и занимания. </i>
        </p>
    </section>
</body>