body {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  h1, h2 {
    margin: 10px auto;
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: center;
  }

  p {
    margin: 5px auto;
    color: #6c757d;
  }

  article {
    margin: 30px 0;
  }
  
  .welcome-text {
    align-items: center;
  }
  .welcome-text h1 {
    font-size: 50px;
    font-weight: 500;
    margin: 30px auto;
  }
  
  .btn {
    font-size: 14px; 
    text-decoration: none;
    border-radius: 38px;
    border: none;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .btn-add {
    border: 1px solid #20c578; 
    color: #20c578;
  }

  .btn-add:hover {
    background: #20c578; 
    color: white;
    cursor: pointer;
  }

  .btn-delete {
    border: 1px solid red;
    color: red;
  }

  .btn-delete:hover {
    background: red;
    color: white;
  }

  .gallery {
    width: 80%;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .gallery ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .gallery ul p {
    margin-top: 20px;
  }
  
  .gallery ul li {
    list-style: none;
    width: max-content;
    margin: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
    flex-direction: column;
  }
  
  .gallery ul li img {
    padding: 5px;
    justify-content: center;
    max-width: 550px;
  }
  
  @media all and (max-width: 414px) {
    .gallery {
      width: 100%;
      margin: 0;
    }
  
    .gallery ul {
      padding: 0;
    }
  
    .gallery ul li {
      width: 100%;
      margin: 5px;
    }
  
    .gallery ul li img {
      width: 100%;
    }
  }
  