<body>
  <section class="section-text">
    <article class="welcome-text">
      <h1>Добре дошли в ДГ "Синчец"</h1>
    </article>
    <article class="documents-adrticle">
      <a
        class="btn-documents"
        href="http://www.blgmun.com/cat125/Priem-detski-gradini-i-qsli/"
        target="_blank"
      >
        Условия за записване в детската градина
      </a>
    </article>

    <article>
      <h4>Активно записване</h4>
      <h5>
        В момента в детската градина се приемат документи за записване в яслена
        група и I група.
      </h5>
    </article>
  </section>
  <section class="section-img">
    <img
      src="../../assets/img/Logo_DG_Sinchec.png"
      alt="banner-img"
      class="img-fluid"
    />
  </section>
</body>
