<body class="teachers-body">
  <section class="teachers">
    <article class="welcome-text">
      <h1>Учители</h1>
    </article>
    <article>
      <div *ngIf="isLogged" class="btns">
        <button routerLink="/teachers/create" class="btn btn-add">
          Добави
        </button>
      </div>
      <div *ngIf="teachers.length > 0">
        <ul>
          <li *ngFor="let teacher of teachers">
            <a [routerLink]="['/teachers/detail/', teacher._id]">
              <h3>{{ teacher.name }}</h3>
            </a>
            <p>{{ teacher.position }}</p>
            <div *ngIf="isLogged">
              <button [routerLink]="['/teachers/edit', teacher._id]" class="btn btn-edit">Промени</button>
              <button class="btn btn-delete" (click)="onDelete(teacher._id)">Изтрий</button>
            </div>

          </li>
        </ul>
      </div>
    </article>
  </section>
</body>

<app-loader [isLoading]="!teachers"></app-loader>